@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add learne's values";
    Layout = "~/Views/Shared/NoLayout.cshtml";   
    int successValue = (int)ViewData["Success"];
}
<link href="~/css/BackButton.css" rel="stylesheet"/>
@using Basecode.Data
@using Basecode.Data.ViewModels
@model ValuesWithGradesContainer
<link rel="stylesheet" href="/css/TableInfo.css" />
<div class="wrapper">
    @await Html.PartialAsync("./_TeacherSideBar")
    <div class="main p-1" style="height:400px; overflow-y: auto;">
        
        
        <div class="page-content page-container p-5 mx-lg-5" id="page-content">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page"><a asp-action="index">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a asp-action="HomeRoom">Home Room</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a asp-action="HomeRoomStudents" asp-route-classid="@Constants.TeacherNavigation.classid">Advisee's</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a>Grade Submmission</a></li>
                </ol>
            </nav>
            @if (successValue == 0)
            {
                <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
                    <i class="bi-exclamation-octagon-fill"></i>
                    <strong class="mx-2">Error!</strong>@ViewData["ErrorMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>

            }
            else if (successValue == 1)
            {
                <div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
                    <i class="bi-check-circle-fill"></i>
                    <strong class="mx-2">Success!</strong>@ViewData["ErrorMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            }
            @{
                Constants.ViewDataErrorHandling.Success = -1;
                Constants.ViewDataErrorHandling.ErrorMessage = null;
            }
                <div class="row container d-flex justify-content-center">
                    <!--learner's observes values table.-->
                    <div class="col-lg-7 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Report on Learner's Observed Values</h4>
                                <p class="card-description">
                                    Below are the criteria of rating the Learner's observed values.
                                </p>                                        
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            <thead>
                                            <tr>
                                                <th>Core Values</th>
                                                <th>Behavioral Statement</th>
                                                <th>1</th>
                                                <th>2</th>
                                                <th>3</th>
                                                <th>4</th>
                                                <th>Final</th>
                                            </tr>
                                            </thead>    
                                            @foreach (var corevalues in Model.Values)
                                            {
                                                var grades = Model.Grades.Where(p => p.BehaviouralId == corevalues.behavioural_Statements.ElementAt(0).Id);
                                                <tr>
                                                    <th rowspan="@corevalues.behavioural_Statements.Count()">
                                                        @corevalues.Core_Values                                                                                                                
                                                    </th>
                                                    <td>
                                                        @corevalues.behavioural_Statements.ElementAt(0).Statements

                                                    @if (grades.Count() == 0)
                                                    {
                                                       <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="setBehavioural('@corevalues.behavioural_Statements.ElementAt(0).Id')"><i class="lni lni-plus"></i></a>
                                                    }

                                                    else if (grades.Max(p => p.Quarter) < 5)
                                                    {
                                                       <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="setBehavioural('@corevalues.behavioural_Statements.ElementAt(0).Id')"><i class="lni lni-plus"></i></a>
                                                    }                                                        
                                                                                                       
                                                    </td>                 
                                                        @foreach(var grade in grades)
                                                        {                                                           
                                                            <td>
                                                            @grade.Grade <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="updateGrade('@grade.Grade','@grade.Id')"><i class="lni lni-pencil"></i></a>
                                                            </td>
                                                        }                                                    
                                                 </tr>
                                                @for (int x = 1; x < @corevalues.behavioural_Statements.Count(); x++)
                                                {
                                                    var gradesi = Model.Grades.Where(p => p.BehaviouralId == corevalues.behavioural_Statements.ElementAt(x).Id);
                                                    
                                                    <tr>
                                                        <td>
                                                            @corevalues.behavioural_Statements.ElementAt(x).Statements

                                                        @if (gradesi.Count() == 0)
                                                        {
                                                            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="setBehavioural('@corevalues.behavioural_Statements.ElementAt(x).Id')"><i class="lni lni-plus"></i></a>
                                                        }

                                                        else if (gradesi.Max(p => p.Quarter) < 5)
                                                        {
                                                          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="setBehavioural('@corevalues.behavioural_Statements.ElementAt(x).Id')"><i class="lni lni-plus"></i></a>
                                                        }
                                                        
                                                </td>
                                                        @for (int y = 0; y < gradesi.Count(); y++)
                                                        {
                                                        <td>
                                                                @gradesi.ElementAt(y).Grade <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="updateGrade('@gradesi.ElementAt(y).Grade','@gradesi.ElementAt(y).Id')"><i class="lni lni-pencil">
                                                                </i>

                                                            </a>
                                                        </td>
                                                        }
                                                </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Decription of Scale-->
                    <div class="col-lg-5">
                        <table class="table mx-lg-5">
                            <thead>
                            <th>Marking</th>
                            <th>Nom-Numerical Rating</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        AO
                                    </td>
                                    <td>
                                        Always Observed
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SO
                                    </td>
                                    <td>
                                        Sometimes Observed
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        RO
                                    </td>
                                    <td>
                                        Rarely Observed
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        NO
                                    </td>
                                    <td>
                                        Not Observed
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>            
        </div>

        @* Modal For adding grades *@
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Input Grade</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    @using (Html.BeginForm("SubmitGradeValues", "Teacher", FormMethod.Post))
                    {
                        <div class="modal-body">
                            <input type="hidden" id="behavioural" name="Behavioural" value="" />
                            <input type="hidden" name="studentid" value="@Model.Student_Id" />                           
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Grades:</label>
                                @* <textarea class="form-control" value="" id="message-text" name="Grades" required></textarea> *@
                                <select name="Grades" class="form-select" required>
                                    <option value="">Select score</option>
                                    <option value="AO">AO</option>
                                    <option value="SO">SO</option>
                                    <option value="RO">RO</option>
                                    <option value="NO">NO</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit Grade</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        @* Modal For Updating grades *@
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Grade</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    @using (Html.BeginForm("UpdateLearnerValues", "Teacher", FormMethod.Post))
                    {
                        <div class="modal-body">
                            <input type="hidden" id="LearnerValuesId" name="LearnerValuesId" value="" />
                            <input type="hidden" id="" name="StudentId" value="@Model.Student_Id" />
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Grades:</label>
                                <select id="grade" name="Grades"  name="Grades" class="form-select" required>
                                    <option value="">Select score</option>
                                    <option value="AO">AO</option>
                                    <option value="SO">SO</option>
                                    <option value="RO">RO</option>
                                    <option value="NO">NO</option>
                                </select>                                
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit Grade</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <script>
            function setBehavioural(behaviouralId){
                var box = document.getElementById("behavioural");
                box.value = behaviouralId;
            }
            function updateGrade(grade,id) {
                var idbox = document.getElementById("LearnerValuesId");
                var gradebox = document.getElementById("grade");
                idbox.value = id;
                gradebox.value = grade;
            }
        </script>
    </div>
