@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/NoLayout.cshtml";
    int x = 1;
    int successValue = (int)ViewData["Success"];
}
@using Basecode.Data
@using Basecode.Data.ViewModels
@model AttendanceContainer
<link href="~/css/BackButton.css" rel="stylesheet" />
<div class="wrapper">
    @await Html.PartialAsync("./_TeacherSideBar")
    <div class="main p-3" style="height:400px; overflow-y: auto;">
        <div class="page-content page-container p-5 mx-lg-5" id="page-content">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page"><a asp-action="index">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a asp-action="HomeRoom">Home Room</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a asp-action="HomeRoomStudents" asp-route-classid="@Constants.TeacherNavigation.classid">Advisee's</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a>Grade Submmission</a></li>
                </ol>
            </nav>
        @if (successValue == 0)
        {
            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Error!</strong>@ViewData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>

        }
        else if (successValue == 1)
        {
            <div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
                <i class="bi-check-circle-fill"></i>
                <strong class="mx-2">Success!</strong>@ViewData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }
        @{
            Constants.ViewDataErrorHandling.Success = -1;
            Constants.ViewDataErrorHandling.ErrorMessage = null;
        }
        <div class="card">           
            <div class="card-body">
                <h4 class="card-title">Student Attendance</h4>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add Details
                    </button>                    
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                @foreach(var month in Model.Months)
                                {
                                    <th>@month</th>                                    
                                }
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Days of School</td>
                                @foreach(var attendance in Model.Attendances)
                                {

                                    <td>@(attendance != null ? attendance.Days_of_Schoool : " ")</td>
                                }
                                
                                @if (Model.Months.Count() == Model.Attendances.Count())
                                {
                                    var sum = 0;
                                    @foreach (var attendance in Model.Attendances)
                                    {
                                        sum += attendance!= null?attendance.Days_of_Schoool: 0;

                                    }
                                    <td>@sum</td>
                                }
                            </tr>
                            <tr>
                                <td>Days of Present</td>
                                @foreach(var attendance in Model.Attendances)
                                {
                                    <td>@(attendance != null ? attendance.Days_of_Present : " ")</td>
                                }
                                @if (Model.Months.Count() == Model.Attendances.Count())
                                {
                                    var sum = 0;
                                    @foreach (var attendance in Model.Attendances)
                                    {
                                        sum += attendance != null ? attendance.Days_of_Present : 0;

                                    }
                                    <td>@sum</td>
                                }
                            </tr>
                            <tr>
                                <td>Time of Tardy</td>
                                @foreach(var attendance in Model.Attendances)
                                {
                                    <td>@(attendance != null ? attendance.Time_of_Tardy : " ")</td>
                                }
                                @if (Model.Months.Count() == Model.Attendances.Count())
                                {
                                    var sum = 0;
                                    @foreach (var attendance in Model.Attendances)
                                    {
                                        sum += attendance != null ? attendance.Time_of_Tardy : 0;

                                    }
                                    <td>@sum</td>
                                }
                            </tr>
                            <tr>
                                <td></td>
                                @foreach (var attendance in Model.Attendances)
                                {                                   
                                    <td>
                                        @if(attendance != null)
                                        {
                                            <i class="lni lni-pencil-alt" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAttendance(@attendance.Id,@attendance.Days_of_Schoool,@attendance.Days_of_Present,@attendance.Time_of_Tardy,@x)"></i>
                                        }                                        
                                    </td>
                                    x = x + 1;
                                }
                            </tr>
                        </tbody>
                    </table>                    
               </div>
            </div>
        </div>
    </div>
    <!--Modal for adding attendance-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enter Student Attendance</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="AddStudentAttendance">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="modal-body">
                        <input type="hidden" value="@Model.studentId" asp-for="studentId"/>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Month:</label>
                            <select class="form-select" aria-label="Default select example" asp-for="Month">
                                <option value=""selected>Open this select menu</option>
                                @foreach(var month in Model.Months)
                                {                                    
                                    <option value="@month">@month</option>
                                }
                            </select>
                        </div>                       
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Days of School:</label>
                            <input type="text" class="form-control" id="recipient-name" asp-for="Days_of_School">
                            <span asp-validation-for="Days_of_School" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Days of Present:</label>
                            <input type="text" class="form-control" id="recipient-name" asp-for="Days_of_Present">
                            <span asp-validation-for="Days_of_Present" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Time of Tardy:</label>
                            <input type="text" class="form-control" id="recipient-name" asp-for="Time_of_Tardy">
                            <span asp-validation-for="Time_of_Tardy" class="text-danger"></span>
                        </div>
                   
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>

    <!--Modal for Editing attendance-->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="UpdateStudentAttendance">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="modal-body">
                        <input type ="hidden" value="" id="id" asp-for="Id"/>
                        <input type="hidden" value="@Model.studentId" asp-for="studentId" />
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Month:</label>
                            <select class="form-select" aria-label="Default select example" id="month" asp-for="Month">
                                <option value="" selected>Open this select menu</option>
                                @foreach (var month in Model.Months)
                                {
                                    <option value="@month">@month</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Days of School:</label>
                            <input type="text" class="form-control" id="dayOfSchool" asp-for="Days_of_School">
                            <span asp-validation-for="Days_of_School" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Days of Present:</label>
                            <input type="text" class="form-control" id="daysOfPresent" asp-for="Days_of_Present">
                            <span asp-validation-for="Days_of_Present" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Time of Tardy:</label>
                            <input type="text" class="form-control" id="timeOfTardy" asp-for="Time_of_Tardy">
                            <span asp-validation-for="Time_of_Tardy" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script>
        function editAttendance(id,daysOfSchool, daysOfPresent, TimeOfTardy, MonthIdx) {
            var daysOfSchoolTextBox = document.getElementById("dayOfSchool");
            var daysOfPresentTextBox = document.getElementById("daysOfPresent");
            var timeOfTardyTextBox = document.getElementById("timeOfTardy");
            var monthSelect = document.getElementById("month");
            var idTextBox = document.getElementById("id");

            daysOfSchoolTextBox.value = daysOfSchool;
            daysOfPresentTextBox.value = daysOfPresent;
            timeOfTardyTextBox.value = TimeOfTardy;
            monthSelect.selectedIndex = MonthIdx;
            idTextBox.value = id;
        }
    </script>
</div>