@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/NoLayout.cshtml";
}
@using Basecode.Data.ViewModels
@model IEnumerable<NewEnrolleeViewModel>

<link rel="stylesheet" href="/css/TableInfo.css" />
<div class="wrapper">
    @await Html.PartialAsync("./_RegistrarSideBar")
    <div class="main p-5">
        <h1>
            Manage New Enrollees
        </h1>
        <div class="tab mt-3">
            <button class="tablinks" onclick="tabs(event, 'newEnrollment')" id="defaultOpen">New Enrollees</button>
            <button class="tablinks" onclick="tabs(event, 'approval')">Approval</button>
        </div>

        <div id="newEnrollment" class="tabcontent">
            <div class="table-responsive overflow-auto">
                <table class="table overflow-auto" id="myTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Grade to Enroll</th>
                            <th>age</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NewEnrolleeViewModel student in Model)
                        {
                            var s="";
                            if (student.sex == "F") s = "Female";                              
                            else s = "Male";
                            var currDate = DateTime.Now;
                            var age = currDate.Year - student.Birthday.Year;
                            if(student.ExamSchedule == null)
                            {
                                <tr class="bg-blue" onclick="redirectToIndex(@student.Id)">
                                    <td class="pt-3 mt-1">@student.FirstName @student.Middlename @student.LastName</td>
                                    <td class="pt-3">@s</td>
                                    <td class="pt-3">@student.GradeEnrolled</td>
                                    <td class="pt-3">@age</td>
                                </tr>
                                <tr id="spacing-row">
                                    <td> </td>
                                </tr>
                            }                           
                        }
                    </tbody>
                </table>              
            </div>      
        </div>

        <div id="approval" class="tabcontent">
            <div class="table-responsive overflow-auto">
                <table class="table overflow-auto" id="myTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Grade to Enroll</th>
                            <th>age</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NewEnrolleeViewModel student in Model)
                        {
                            var s = "";
                            if (student.sex == "F") s = "Female";
                            else s = "Male";
                            var currDate = DateTime.Now;
                            var age = currDate.Year - student.Birthday.Year;
                            if (student.ExamSchedule != null)
                            {
                                <tr class="bg-blue">
                                    <td class="pt-3 mt-1">@student.FirstName @student.Middlename @student.LastName</td>
                                    <td class="pt-3">@s</td>
                                    <td class="pt-3">@student.GradeEnrolled</td>
                                    <td class="pt-3">@age</td>
                                    <td class="pt-3">
                                        <a href="" onclick="admitStudent(@student.Id)" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-check-to-slot fa-lg px-3"></i></a>
                                        <a asp-action="RejectNewEnrollee" asp-route-id="@student.Id"><i class="fa-solid fa-x fa-lg"></i></a>
                                    </td>
                                </tr>
                                <tr id="spacing-row">
                                    <td> </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Set LRN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("AdmitNewEnrollee", "Registrar", FormMethod.Post))
                {
                    <div class="modal-body">
                        <input type="hidden" id="studentId" name="studentId"/>
                        <div class="mb-3">                           
                            <label for="recipient-name" class="col-form-label">LRN:</label>
                            <input type="text" class="form-control" id="lrn" name="lrn" required>
                        </div>                        

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Enroll Student</button>
                    </div>
                }                                   
            </div>
        </div>
    </div>
</div>
<script src="/js/Tables.js"></script>
<script>
    function redirectToIndex(studentId) 
    {
        window.location.href = '@Url.Action("NewEnrolleeInfo", "Registrar")?studentId=' + studentId;
    }    
    function admitStudent(studentId)
    {
        document.getElementById('studentId').value = studentId;
    }
</script>