@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/NoLayout.cshtml";
    int successValue = (int)ViewData["Success"];
}
@using Basecode.Data
@using Basecode.Data.ViewModels
@model RegistrarDashboard
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <div class="wrapper">
        @await Html.PartialAsync("./_RegistrarSideBar")
        <div class="main p-3">
        @if (successValue == 0)
        {
            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Error!</strong>@ViewData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>

        }
        else if (successValue == 1)
        {
            <div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
                <i class="bi-check-circle-fill"></i>
                <strong class="mx-2">Success!</strong>@ViewData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }
        @{
            Constants.ViewDataErrorHandling.Success = -1;
            Constants.ViewDataErrorHandling.ErrorMessage = null;
        }
            <div class="container p-lg-2">
               <i class="fas fa-user-circle"></i><span class="p-2">School Year @Model.SchoolYear</span>
                <h1>
                    Dashboard
                </h1>               
            </div>
        <div class="container mt-3 gap-3">
            <div class="row">              
                <div class="col-md-3">
                    <div class="card-counter danger">
                        <i class="fa-solid fa-person-chalkboard"></i>
                        <span class="count-numbers">@Model.TeacherCount</span>
                        <span class="count-name">Teachers</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card-counter success">
                        <i class="  fa-solid fa-universal-access"></i>
                        <span class="count-numbers">@Model.StudentEnrolledCount</span>
                        <span class="count-name">Enrolled</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card-counter info">
                        <i class="fa-solid fa-user-xmark"></i>
                        <span class="count-numbers">@Model.StudentNotEnrolledCount</span>
                        <span class="count-name">Not Enrolled</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-9 col-xl-8">
                            <div class="card widget-card border-light shadow-sm">
                                <div class="card-body p-4">
                                    <h5 class="card-title widget-card-title mb-4">Ranking of Students</h5>                                    
                                    <div class="table-responsive" style="height:400px; overflow-y: auto;">
                                        @using (Html.BeginForm("QueryDashboad", "Registrar", FormMethod.Post))
                                        {
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <select class="form-select mb-3" aria-label="Default select example" name="grade" required>
                                                        <option value="">Grade</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <select class="form-select mb-3" aria-label="Default select example" name="quarter" required>
                                                        <option value="" selected>Quarter</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                        <option value="4">four</option>
                                                        <option value="5">final</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <select class="form-select mb-3" aria-label="Default select example" name="rank" required>
                                                        <option value="" selected>Rank</option>
                                                        <option value="1">With Highest Honor</option>
                                                        <option value="2">With High Honor</option>
                                                        <option value="3">With High Honor</option>                                                       
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button type="submit" class="btn btn-warning">Search</button>
                                                </div>
                                            </div>
                                        }

                                        <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0">
                                            @if (Model.StudentRanking.Count() > 0)
                                            {
                                                <thead>
                                                    <tr>
                                                        <th>Full name</th>
                                                        <th>Grade</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var student in Model.StudentRanking)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @student.fullname
                                                            </td>
                                                            <td>
                                                                @student.Average
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            }
                                            else
                                            {
                                                <p>No Data to show</p>
                                            }

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div> 
    </div>
   
