@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Basecode.Services.Interfaces
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/NoLayout.cshtml";
    int successValue = (int)ViewData["Success"];
}
@using Basecode.Data
@using Basecode.Data.ViewModels
@model List<StudentViewModel>

<div class="wrapper">
    @await Html.PartialAsync("./_RegistrarSideBar")
    <div class="main p-3">
        <div class="container p-lg-2">
            <span class="">School Year 2024-2025</span>
            <h1>
                Student Record
            </h1>
        </div>
        @if (successValue == 0)
        {
            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Error!</strong>@ViewData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>

        }
        else if (successValue == 1)
        {
            <div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
                <i class="bi-check-circle-fill"></i>
                <strong class="mx-2">Success!</strong>@ViewData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }
        @{
            Constants.ViewDataErrorHandling.Success = -1;
            Constants.ViewDataErrorHandling.ErrorMessage = null;
        }
        <div class="container rounded mt-4 bg-white p-md-5">
            <div class="row">
                <div class="col">
                    <div class="h2 font-weight-bold"></div>
                    <a asp-action="AddNewEnrollee"><button type="button" class="btn btn-outline-danger">Add Student</button></a>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="input-group rounded w-50">
                        <input type="search" onkeyup="myFunction()" id="myInput" class=" form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    </div>
                </div>
            </div>
             
            <div class="table-responsive">
                
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Age</th>
                            <th scope="col">LRN</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var student in Model)
                        {
                            <tr class="bg-blue" onclick="redirectToStudentInfo(@student.Student_ID)">
                                <td class="pt-2">
                                    <div class="pl-lg-5 pl-md-3 pl-1 name">@student.FirstName @student.MiddleName @student.LastName</div>
                                </td>
                                <td class="pt-3 mt-1">@student.Status</td>
                                <td class="pt-3">@student.age</td>
                                <td class="pt-3">@student.lrn</td>                          
                            </tr>
                            <tr id="spacing-row">
                                <td></td>
                            </tr>
                        }                                          
                    </tbody>
                </table>
                <nav aria-label="...">
                    <ul class="pagination pagination-lg justify-content-center">
                        <li class="page-item" aria-current="page">
                            <span class="page-link text-danger">1</span>
                        </li>
                        <li class="page-item "><a class="page-link text-danger" href="#">2</a></li>
                        <li class="page-item "><a class="page-link text-danger" href="#">3</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    function redirectToStudentInfo(student_Id)
    {
        window.location.href = '@Url.Action("StudentInfo", "Registrar")?student_Id=' + student_Id;
    }  
</script>