@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/NoLayout.cshtml";
    double avg = 0;
    int monthIdx = 1;
    var parentsex = "";
    if (Model.Parent.Parentsex == "F") parentsex = "Female";
    else parentsex = "Male";
}
@using Basecode.Data.ViewModels
@model StudentDetailsWithGrade
<link rel="stylesheet" href="/css/TableInfo.css" />
<script src="~/js/Tables.js"></script>
<div class="wrapper">
    @await Html.PartialAsync("./_RegistrarSideBar")
    <div class="main p-5">
          <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.Student.FirstName @Model.Student.MiddleName @Model.Student.LastName</h5>
                        <p class="text-muted mb-1">@Model.Student.Status</p>
                        <p class="text-muted mb-4">Grade @Model.Student.Grade</p>
                        <p class="text-muted mb-4">@Model.Student.age years old</p>
                        @if (Model.Student.lrn == null)
                        {
                            <p class="text-muted mb-4">
                                LRN  not set.
                            </p>
                        }
                        else
                        {
                            <p class="text-muted mb-4">
                                @Model.Student.lrn
                            </p>
                        }

                        <div class="d-flex justify-content-center mb-2">
                            <a asp-action="GeneratePdf" asp-route-StudentId="@Model.Student.Student_ID" asp-route-SchoolYear="@Model.SchoolYear" asp-route-documentType="1"><button type="button" class="btn btn-danger">Form-138</button></a>
                            <a asp-action="GeneratePdf" asp-route-StudentId="@Model.Student.Student_ID" asp-route-SchoolYear ="@Model.SchoolYear" asp-route-documentType="0"><button type="button" class="btn btn-outline-danger ms-1">Report Card</button></a>
                        </div>
                    </div>
                </div>
                                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="lead">Parents/Guardian Information</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa-solid fa-hands-holding-child"></i>
                                <p class="mb-0">@Model.Parent.ParentFirstName @Model.Parent.ParentMiddleName, @Model.Parent.ParentLastName</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa-solid fa-phone" style="color:#555555;"></i>
                                <p class="mb-0">@Model.Parent.PhoneNumber</p>
                            </li>                            
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa-solid fa-location-dot fa-lg" style="color: #ac2bac;"></i>
                                <p class="mb-0">@Model.Parent.Address</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa-regular fa-envelope fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">@Model.Parent.Email</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa-solid fa-cake-candles fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">@Model.Parent.ParentBirthday.ToLongDateString()</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa-solid fa-venus-mars fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">@parentsex</p>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="tab">                    
                    <button class="tablinks" onclick="tabs(event, 'Grades')" id="defaultOpen">Grades</button>
                    <button class="tablinks" onclick="tabs(event, 'Values')">Values</button>
                    <button class="tablinks" onclick="tabs(event, 'Attendance')">Attendance</button>
                </div>
                <div id="Grades" class="tabcontent">
                    <div class="card">
                        <div class="card-body">
                            <p>Select a School Year. Note that after selecting a school year, the page will reload thus going back to the grades tab.</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    School Year
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var schoolyear in Model.School_Years)
                                    {
                                        <li><a class="dropdown-item" asp-action="StudentInfo" asp-route-student_Id="@Model.Student.Student_ID" asp-route-school_year="@schoolyear">@schoolyear</a></li>
                                    }

                                </ul>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Subject</th>
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                            <th>4</th>
                                            <th>Final</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var subject in Model.Subjects)
                                        {
                                            <tr>
                                                <td>@subject.Subject_Name</td>
                                                @{var SubjectWithGrades = Model.grades.FirstOrDefault(p => p.SubjectId == subject.Subject_Id);}
                                                @if(SubjectWithGrades != null)
                                                {
                                                    @foreach (var grade in SubjectWithGrades.Grades)
                                                    {
                                                        <td>@grade.Grade</td>
                                                        if (grade.Quarter == 5 && grade.Grade >= 75)
                                                        {
                                                            
                                                            avg += grade.Grade;
                                                            <td>Passed</td>
                                                        }
                                                        else if (grade.Quarter == 5 && grade.Grade < 75)
                                                        {
                                                            
                                                            avg += grade.Grade;
                                                            <td>Failed</td>
                                                        }
                                                    }                                                   
                                                }
                                           </tr>
                                        }
                                    </tbody>
                                </table>
                                <p class="lead">General Average: @Math.Floor(avg / Model.TotalHeadSubjectCount)</p>
                                @if (Math.Floor(avg / Model.TotalHeadSubjectCount) >= 75)
                                {
                                    <p class="lead">Promoted</p>
                                }
                                @{avg = 0;}
                            </div>
                        </div>
                    </div>
                </div>                
                <div id="Values" class="tabcontent">                   
                    <div class="card">
                        <div class="card-body">   
                            <p>Select a School Year. Note that after selecting a school year, the page will reload thus going back to the grades tab.</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    School Year
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var schoolyear in Model.School_Years)
                                    {
                                        <li><a class="dropdown-item" asp-action="StudentInfo" asp-route-student_Id="@Model.Student.Student_ID" asp-route-school_year="@schoolyear">@schoolyear</a></li>
                                    }

                                </ul>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    <thead>
                                        <tr>
                                            <th>Core Values</th>
                                            <th>Behavioral Statement</th>
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                            <th>4</th>
                                            <th>Final</th>
                                        </tr>
                                    </thead>
                                        @foreach (var corevalues in Model.learnersValues)
                                        {
                                            var grades = Model.valuesGrades.Where(p => p.BehaviouralId == corevalues.behavioural_Statements.ElementAt(0).Id);
                                        <tr>
                                            <th rowspan="@corevalues.behavioural_Statements.Count()">
                                                    @corevalues.Core_Values
                                            </th>
                                            <td>
                                                    @corevalues.behavioural_Statements.ElementAt(0).Statements                                         
                                            </td>
                                                @foreach (var grade in grades)
                                                {
                                                   
                                                <td>
                                                        @grade.Grade
                                                </td>
                                                }
                                        </tr>
                                            @for (int x = 1; x < @corevalues.behavioural_Statements.Count(); x++)
                                            {
                                                var gradesi = Model.valuesGrades.Where(p => p.BehaviouralId == corevalues.behavioural_Statements.ElementAt(x).Id);

                                            <tr>
                                                <td>
                                                        @corevalues.behavioural_Statements.ElementAt(x).Statements 
                                                </td>
                                                    @for (int y = 0; y < gradesi.Count(); y++)
                                                    {
                                                    <td>
                                                            @gradesi.ElementAt(y).Grade 
                                                    </td>
                                                    }
                                            </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>                          
                        </div>
                    </div>
                </div>
                <div id="Attendance" class="tabcontent">
                    <div class="card">
                        <div class="card-body">
                            <p>Select a School Year. Note that after selecting a school year, the page will reload thus going back to the grades tab.</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    School Year
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var schoolyear in Model.School_Years)
                                    {
                                        <li><a class="dropdown-item" asp-action="StudentInfo" asp-route-student_Id="@Model.Student.Student_ID" asp-route-school_year="@schoolyear">@schoolyear</a></li>
                                    }

                                </ul>
                            </div>
                            <div class="btn-group">                                
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            @foreach (var month in Model.StudentAttendance.Months)
                                            {
                                                <th>@month</th>
                                            }
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Days of School</td>
                                            @foreach (var attendance in Model.StudentAttendance.Attendances)
                                            {

                                                <td>@(attendance != null ? attendance.Days_of_Schoool : " ")</td>
                                            }
                                        </tr>
                                        <tr>
                                            <td>Days of Present</td>
                                            @foreach (var attendance in Model.StudentAttendance.Attendances)
                                            {
                                                <td>@(attendance != null ? attendance.Days_of_Present : " ")</td>
                                            }
                                        </tr>
                                        <tr>
                                            <td>Time of Tardy</td>
                                            @foreach (var attendance in Model.StudentAttendance.Attendances)
                                            {
                                                <td>@(attendance != null ? attendance.Time_of_Tardy : " ")</td>
                                            }
                                        </tr>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
          </div>
    </div>
        
</div>
</div>
